#content{
	width: 70%;
	max-width: 700px;
	margin : 0 auto;
	border: solid 2px #000;
	padding: 1em;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	
}
body {
	background-image: url(https://image.noelshack.com/fichiers/2019/42/3/1571219210-1-hhncwcrqdst-s5wfrkqq.jpeg);
	background-repeat: no-repeat;
	background-position: bottom;
}
.center{
	text-align: center;
}

#titre1{
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 5px 5px 50px 50px; 
	width: 70%
	max-width: 700px;
	line-height: 10px;
}
